[Unit]
Description=CrowdSec Blocklist Mirror
After=syslog.target crowdsec.service

[Service]
Type=simple
ExecStart=${BIN} -c ${CFG}/crowdsec-blocklist-mirror.yaml
ExecStartPre=${BIN} -c ${CFG}/crowdsec-Blocklist-mirror.yaml -t
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
