[Unit]
Description=CrowdSec Blocklist Mirror
After=syslog.target crowdsec.service

[Service]
Type=simple
ExecStart=${BIN} -c ${CFG}/crowdsec-blocklist-mirror.yaml

[Install]
WantedBy=multi-user.target